extends ../layout/layout.product

block content
  .row.wrapper.border-bottom.white-bg.page-heading
    .col-lg-12
      h2 创建商品
      |         
      ol.breadcrumb
        li
          a(href='/products/') 商品管理
        |             
        li.active
          b 创建商品
  .wrapper.wrapper-content.animated.fadeInRight
    .row
      .col-lg-12
        .ibox
          .ibox-title
            h3
              span.text-navy 创建商品
          |                 
          .ibox-content
            form#form.form-horizontal(method='post', onsubmit='return false')
              .form-group
                label.col-sm-2.control-label 商品名称
                .col-sm-4
                  input.form-control(type='text', name='product_name', placeholder='请输入商品名称【必填】')  
              .form-group
                label.col-sm-2.control-label 价格
                |                             
                .col-sm-3
                  input.form-control(type='text', name='price', value='', placeholder='必须为数字【必填】')
              .form-group
                label.col-sm-2.control-label 分类
                |                             
                .col-sm-2
                  select.form-control(name='category')
                    option(value='1') 春
                    option(value='2') 夏
                    option(value='3') 秋
                    option(value='4') 冬
              |                         
              .form-group
                label.col-sm-2.control-label 子分类
                |                             
                .col-sm-3
                  select.form-control(name='type')
                    option(value='1') 0~1年                 
                    option(value='2', selected='') 1~5年
                    option(value='3') 5~10年
                    option(value='4') 10年+
              .form-group.full-height-scroll
                #fileuploader Upload
              .form-group.full-height-scroll
                textare(id="editor" placeholder="图文详情" autofocus)
              .form-group
                .col-sm-1.col-sm-offset-3(style='width:70px;')
                  button(id="submit" type="submit" class="btn btn-primary") Submit
                .col-sm-1.col-sm-offset-3(style='width:70px;')
                  button#editBtn.btn.btn-danger(type='button') Cancel

    <!-- |
    .row
      .col-lg-12
        .ibox
          #ltstableContainer.ibox-content -->
  
  script.
    $(document).ready(function () {
      var _i = 0;
    	$("#fileuploader").uploadFile({
    		url:"/fileupload/",
    		fileName:"myfile",
        multiple:true,
        dragDrop:true,
        showDownload:false,
        showDelete: true,
        onSuccess: function (files, response, xhr, pd) {
          console.log(JSON.stringify(files));
          _img = response[0].hash;
          
          $('.ajax-file-upload-preview' + _i).attr('src', 'http://img.mengxiaoban.cn/'+_img).show()
        },
        showFileCounter:false,
    	  customProgressBar: function(obj,s)
    		{
          _i++
    			this.statusbar = $("<div class='ajax-file-upload-statusbar'></div>");
                this.preview = $("<img class='ajax-file-upload-preview"+_i+"' />").width(s.previewWidth).height(s.previewHeight).appendTo(this.statusbar).hide();
                this.filename = $("<div class='ajax-file-upload-filename'></div>").appendTo(this.statusbar);
                this.progressDiv = $("<div class='ajax-file-upload-progress'>").appendTo(this.statusbar).hide();
                this.progressbar = $("<div class='ajax-file-upload-bar'></div>").appendTo(this.progressDiv);
                this.abort = $("<div>" + s.abortStr + "</div>").appendTo(this.statusbar).hide();
                this.cancel = $("<div>" + s.cancelStr + "</div>").appendTo(this.statusbar).hide();
                this.done = $("<div>" + s.doneStr + "</div>").appendTo(this.statusbar).hide();
                this.download = $("<div>" + s.downloadStr + "</div>").appendTo(this.statusbar).hide();
                this.del = $("<div>" + s.deletelStr + "</div>").appendTo(this.statusbar).hide();
            
                this.abort.addClass("custom-red");
                this.done.addClass("custom-green");
    			this.download.addClass("custom-green");            
                this.cancel.addClass("custom-red");
                this.del.addClass("custom-red");

    			return this;
			
    		}
    	});
      $('#submit').on('click', function () {
        var data = {
          detail : $('#editor').val(),
          is_index: false,
          recommend: false,
          is_top_slide: false
        }
        
        if ($('input[name=price]').val() != '') {
          data['price'] = $('input[name=price]').val()
        }
        
        if ($('input[name=product_name]').val() != '') {
          data['name'] = $('input[name=product_name]').val()
        }
        
        if ($('select[name=category]').val() != '') {
          data['category'] = $('select[name=category]').val()
        }

        if ($('select[name=type]').val() != '') {
          data['type'] = $('select[name=type]').val()
        }
        
        console.dir(data);
        
        var slider_images = []
        
        $('.ajax-file-upload-container img').each(function(idx){
          var img = $('.ajax-file-upload-container img')[idx]
          if (img && img.src) {
            slider_images.push(img.src)
          }
        })
        
        if (slider_images.length > 0) {
          data['slides'] = slider_images  
        } else {
          alert('头图至少一张')
          return
        }
        
        if (data['name'] && data['price']) {
          $.post('/api/products/', data, function(data){
             window.location.href = '/products/'
          })
        } else {
          alert('请添加名称和价格')
        }
      });
    });
  script.
    window.qn_token = "#{token}"
